<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" dir="ltr" lang="en" th:with="assetBaseUrl=${@environment.getProperty('assetBaseUrl','/resources/oss')}">
<head>
    <title th:inline="text">[[${@environment.getProperty('login.brand') == 'pivotal' ? 'Pivotal' : 'Cloud Foundry'}]]</title>
    <link href='/resources/pivotal/images/favicon.ico' th:href="@{${assetBaseUrl}+'/images/favicon.ico'}" rel='shortcut icon' />
    <meta charset='utf-8' />
    <meta name='author' content='Pivotal Software, Inc' />
    <meta name='copyright' content='Copyright 2014 Pivotal Software, Inc. All Rights Reserved.' />
    <meta name='robots' content='all' />
    <meta name='Description' content=""/>
    <meta name='keywords' content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="/resources/pivotal/stylesheets/application.css" th:href="@{${assetBaseUrl}+'/stylesheets/application.css'}" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <div class="header" th:style="${T(org.cloudfoundry.identity.uaa.zone.IdentityZoneHolder).uaa} ? |background-image: url(@{${assetBaseUrl}+'/images/logo.png'});|" layout:fragment="page-header"></div>
    <div layout:fragment="page-content"></div>
    <div class="footer-spacer"></div>
</div>
<div class="footer">
</div>

</body>
</html>